{% extends "template.html" %}
{% block content %}
    <center>
        <h2>Course Team</h2>
    </center>
            <div class="inner-content" style="text-align: center">
                    <div class="row">
                        <div class="column"><b>Name</b></div>
                        <div class="column"><b>Tutorial/Lecture</b></div>
                        <div class="column"><b>Office Hour</b></div>
                    </div>
                    <div class="row">
                        <div class="column">Purva Gawde (Course Coordinator)</div>
                        <div class="column">Monday, 9-11</div>
                        <div class="column">Tuesday, 12-1</div>
                    </div>
                    <div class="row">
                        <div class="column">Pourya Moghadam</div>
                        <div class="column">Monday, 12-1</div>
                        <div class="column">Monday, 11-12 or 1-2</div>
                    </div>
                    <div class="row">
                        <div class="column">Nisha Rajendran</div>
                        <div class="column">Wednesday, 11-12</div>
                        <div class="column">Wednesday, 10-11</div>
                    </div>
                    <div class="row">
                        <div class="column">Joshua Concon</div>
                        <div class="column">Wednesday, 2-3</div>
                        <div class="column">Wednesday, 3-4</div>
                    </div>
                    <div class="row">
                        <div class="column">Navinn Ravindaran</div>
                        <div class="column">Friday 10-11</div>
                        <div class="column">Friday 11-12</div>
                    </div>
                    <div class="row">
                        <div class="column">Danny Chen</div>
                        <div class="column">Friday 1-2</div>
                        <div class="column">Friday 12-1</div>
                    </div>
            </div>
{% endblock %}