{% extends "template.html" %}
{% block content %}
            <div class="1">
                <center>
                    <h1>Welcome back {{ session.name }}, to CSCB20 Webpage!</h1>
                </center>
                <h2>Course Description</h2>
                <hr>
                    The purpose of this course is to give students a practical introduction to databases and Web app development. Topics we will study in this course include:
                        <p><strong>Databases:</strong>
                            <ul>
                                <li>terminology and applications.</li>
                                <li>creating, querying, and updating databases.</li>
                                <li>the entity-relationship model for database design.</li>
                            </ul>
                        <p><strong>Web documents and applications:</strong>
                            <ul>
                                <li>static and interactive documents.</li>
                                <li>Web servers and dynamic server-generated content.</li>
                                <li>Web application development and interface with databases.</li>
                            </ul>
                <h2>Required Background</h2>
                <hr>
                    <p><strong>Prerequisite:</strong> Some experience with programming in an imperative language such as Python, Java or C.
                    <p><strong>Exclusion:</strong> This course may not be taken after - or concurrently with - any C- or D-level CSC course.
                    <h2>Course Description</h2>
                    <hr>
                    Databases are incredibly ubiquitous and underlie technology used by most people every day. Databases reside behind a huge fraction of websites. Most of the amenities we enjoy on the Web are provided by web database applications. Web-based email, forums and bulletin boards, online shopping, corporate web sites, and sports and news portals are all database-driven. To build a modern web site, you need to develop a database application. In this course, you will learn how to bring together Web and databases to build applications.
                <h2>Course Learning Outcomes</h2>
                    <hr>
                    Upon completion of this course, and of course with hard work and practice, you will:
                        <ol>
                            <li>Learn the basic concepts and appreciate the applications of database systems.</li>
                            <li>Be familiar with the relational database theory and be able to write relational algebra.</li>
                            <li>Master the basics of SQL and construct queries using SQL.</li>
                            <li>Comprehend the fundamentals of web application development by building database backend app from scratch, using HTML, JavaScript, micro web frameworks like Python Flask, and other open-source tools.</li>
                        </ol>
                <h2>Course Administration</h2>
                <hr>
            </div>
            <div class="2">
                <div class="contact-detail">
                    <p><strong>Instructor</strong> Dr. Purva R. Gawde</p>
                </div>
                <div class="contact-detail">
                    <p>
                        <strong>Email: </strong><a href="mailto:purva.gawde@utsc.utoronto.ca">purva.gawde@utsc.utoronto.ca</a>
                    </p>
                </div>
                <div class="contact-detail">
                    <p><strong>Lectures:</strong> Monday 9:00-11:00 in SW 319</p>
                </div>
                <div class="contact-detail">
                    p><strong>Office Hours:</strong> Tuesday 12:00-13:00 in IC 484</p>
                </div>
            </div>
{% endblock %}